#landing {
    padding-top: 12vh;
    padding-bottom: 8vh;
    background-color: var(--rich-black);
    color: #fff;
}

#landing::after {
    content: "";
    position: absolute;
    width: 100vw;
    left: 0;
    top: 0;
    height: 100%;
    background: radial-gradient(ellipse 100% 125% at 50% 0%, var(--rich-black) 0%, var(--rich-black) 50%, rgba(0, 2, 24, 0) 100%), url('/img/circuit-board.svg');
    opacity: 0.5;
    z-index: 0;
}

#landing {
    opacity: 0;
    transition: opacity 600ms ease;
    overflow: hidden;
}

#landing.in {
    opacity: 1;
}

#landing .container { 
    z-index: 2;
    position: relative;
}

.landing-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;

}


.landing-content h1 {
    margin-bottom: 1.5rem;
    margin-top: 0;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.landing-content p {
    font-size: 1.33rem;
    margin-bottom: 1.5rem;
    color: #eee;
    line-height: 1.33;
    width: 50%;
    text-align: center;
}

.landing-buttons {
    display: flex;
    gap: 1rem;
    font-size: 1.1rem;
    margin-bottom: 4rem;
}

.landing-partners {
    margin-top: 15vh;
    display: block;
    color: #444;
    font-size: 0.9rem;
}

.landing-partners div {
    display: flex;
    gap: 4rem;
    align-items: center;
    margin-top: 0.5rem;
}

.landing-partners-bc {
    height: 25px;
}

.landing-partners-ngf {
    height: 50px;
}

.landing-images img {
    border-radius: 5px;
    min-width: min(800px, 35vw);
    max-width: 800px;
    box-shadow: 0 0 35px 0 #0004;
}

#landing.in .landing-images img {
    transform: translateX(0);
}

.landing-images .landing-images-front {
    z-index: 1;
    top: calc(10vh + 120px);
    left: calc(50vw + 110px);
    transform: translateX(200px);
    transition-duration: 2000ms;
}

.landing-images-back {
    top: calc(10vh);
    left: calc(50vw + 210px);
}

@media(max-width: 992px) {
    .landing-content {
        width: 60%;
    }
}

@media(max-width: 768px) {

    #landing {
        padding-top: 10vh;
    }

    .landing-content {
        width: 100%;
    }

    .landing-images {
        height: 40vh;
        margin-top: 4rem;
        margin-bottom: 6rem;
        position: relative;
    }

    .landing-images img {
        position: absolute;
        border-radius: 5px;
        height: 30vh;
        left: 0;
        top: 0;
        max-width: 1100px;
        box-shadow: 0 0 35px 0 #0004;
    }

    .landing-images .landing-images-back {
        left: 15px;
    }

    .landing-images .landing-images-front {
        left: -15px;
        top: 50px;
    }

    .landing-partners {
        position: absolute;
        bottom: 5vh;
    }

    .landing-buttons .btn {
        flex: 1;
        text-align: center;
    }
    
}

ol li {
    margin: 0.5rem 0;
}

#features {
    padding: 6rem 0;
}

#features::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0), #A264C7, rgba(0,0,0,0)), url('/img/noise.svg'), linear-gradient(to right, var(--purple), var(--pink-dark));
    background-blend-mode: normal;
    z-index: -1;
}

#features h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 0;
}

#features .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 2rem 3rem;
} .feature svg {
    width: 4rem;
    height: 4rem;
} .feature h3 {
    font-size: 1.25rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.features-button {
    margin-top: 3rem;
    text-align: center;
}

@media(max-width: 768px) {
    #features .container {
        grid-template-columns: 1fr 1fr;
    }
}

#introduction {
    padding: 2rem 0;
} #introduction .row {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 1rem 0;
} #introduction .row .img {
    flex: 1
} #introduction .row .text {
    flex: 2;
    line-height: 1.5;
} #introduction .row .text p {
    color: var(--rich-black);
} #introduction .row .img img {
    width: 100%;
}

#growth {
    background: url('/img/3dbag_dark.png');
    background-size: cover;
    color: #fff;
    padding: 7.5rem 0;
}

#growth .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#growth h1 {
    font-size: 2rem;
    margin-top: 0;
    font-weight: 700;
}

#growth p {
    font-size: 1.25rem;
    width: 75%;
    margin-top: 0.5rem;
}

#growth .btn {
    margin-top: 1.5rem;
    display: inline-block;
}

.growth-buttons {
    display: flex;
    gap: 1rem;
    font-size: 1.1rem;
}

#partners {
    padding: 3rem 0;
}

#partners .partner-logos {
    display: flex;
    gap: 5rem;
    align-items: center;
}

#partners .partner-logos a {
    flex: 1;
}

#partners .partner-logos a img {
    width: 100%;
}